$bomb-number: 3;
$bomb-size: 50px;
$bomb-gap: 10px;

.hanabi-infos {
  width: $bomb-number*($bomb-size + $bomb-gap) - $bomb-gap;

  display: flex;
  flex-direction: column;
  gap: 12px;

  .hanabi-infos-clues {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .hanabi-infos-clues-item {
      font-size: large;
      cursor: default;
      transition: transform 250ms ease-in-out;

      &.not-visible {
        transform: scale(0);
      }
    }
  }

  .hanabi-infos-bombs {
    width: 100%;

    display: flex;
    gap: $bomb-gap;

    .hanabi-infos-bombs-item {
      width: $bomb-size;
      height: $bomb-size;
      box-sizing: border-box;
      font-size: 0;
      line-height: 0;
      cursor: default;
      transition: font-size 250ms ease-in-out;

      display: flex;
      justify-content: center;
      align-items: center;

      &.exploded {
        font-size: x-large;
      }
    }
  }
}
