<div class="hanabi-infos">
  <span>Turn: {{game.turn}}</span>

  <span>Score: {{score}}/{{maxScore}}</span>

  <mat-card matTooltip="{{game.clues}} clues left"
            matTooltipPosition="right">
    <mat-card-content class="hanabi-infos-clues">
      <div *ngFor="let _ of [].constructor(game.settings.maxClues); let i=index"
           class="hanabi-infos-clues-item"
           [class.not-visible]="game.clues <= i">
        💡
      </div>
    </mat-card-content>
  </mat-card>

  <div class="hanabi-infos-bombs"
       matTooltip="{{game.bombs}} bombs exploded"
       matTooltipPosition="right">
    <mat-card *ngFor="let _ of [].constructor(game.settings.maxBombs); let i=index"
              class="hanabi-infos-bombs-item"
              [class]="game.bombs > i ? 'color-error' : ''"
              [class.exploded]="game.bombs > i">
      💥
    </mat-card>
  </div>

</div>
