@use "styles/functions/colors";
@use "styles/palettes";
@use "styles";

$clue-size: 40px;
$clue-per-row: 4;
$clue-per-colum: 2;
$clue-gap: 5px;

.hanabi-infos {
  width: $clue-per-row*($clue-size + $clue-gap) - $clue-gap;

  display: flex;
  flex-direction: column;
  gap: 12px;

  .hanabi-infos-clues {
    width: 100%;
    height: $clue-per-colum*($clue-size + $clue-gap) - $clue-gap;

    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    .hanabi-infos-clues-item {
      width: $clue-size;
      height: $clue-size;
      border: solid 2px colors.from-palette(palettes.$grey, 200);
      border-radius: $clue-size;
      box-sizing: border-box;
      background-color: colors.from-palette(palettes.$grey, 800);
      transition: transform 250ms ease-in-out;

      display: flex;
      justify-content: center;
      align-items: center;

      &.not-visible {
        transform: scale(0);
      }

      mat-icon {
        color: colors.from-palette(palettes.$grey, 200);
      }
    }
  }

  .hanabi-infos-bombs {
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .hanabi-infos-bombs-item {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      border: solid 2px transparent;
      background-color: colors.from-palette(palettes.$grey, 800);
      transition: font-size 250ms ease-in-out;
      font-size: 0;
      cursor: default;

      display: flex;
      justify-content: center;
      align-items: center;

      &.exploded {
        border-color: colors.from-palette(styles.$warn);
        font-size: x-large;
      }
    }
  }
}
