@use "styles/variables/hanabi";

.red {
  color: hanabi.$red;
}
.yellow {
  color: hanabi.$yellow;
}
.green {
  color: hanabi.$green;
}
.blue {
  color: hanabi.$blue;
}
.purple {
  color: hanabi.$purple;
}
