@use "styles/functions/colors";
@use "styles";

.toolbar {
  display: flex;
  justify-content: space-between;

  .toolbar-item {
    display: flex;
    align-items: center;

    .toolbar-title {
      display: flex;
      gap: 5px
    }
  }
}
