<mat-toolbar class="toolbar">

  <div class="toolbar-item">
    <button *ngIf="authenticated"
            mat-icon-button
            matTooltip="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button color='primary' [routerLink]="'/'">
      <span class="toolbar-title">
        <mat-icon>auto_awesome</mat-icon>
        fireworks
      </span>
    </button>
    <button *ngIf="authenticated"
            mat-button color='primary'
            [routerLink]="'/games/hanabi'"
            [routerLinkActive]="'link-active'">Hanabi</button>
    <button mat-button color='primary'
            [routerLink]="'/roadmap'"
            [routerLinkActive]="'link-active'">Roadmap</button>
  </div>

  <div class="toolbar-item">
    <button mat-icon-button
            (click)="toggleTheme()"
            [matTooltip]="currentTheme === Theme.LIGHT ? 'Light mode' : 'Dark mode'">
      <mat-icon>{{ currentTheme === Theme.LIGHT ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    <button *ngIf="authenticated"
            mat-icon-button
            matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button
            (click)="onLogClick()"
            [matTooltip]="authenticated ? 'Logout' : 'Login'">
      <mat-icon> {{ authenticated ? 'logout' : 'login' }} </mat-icon>
    </button>
  </div>

</mat-toolbar>
