<div class="hanabi-player">
  <app-hanabi-hand class="hanabi-hand-container"
                   [hand]="player.cards"
                   [visible]="!isSelf"
                   [canPlay]="canPlay"
                   (play)="onPlay($event)"
                   (clueColor)="onClueColor($event)"
                   (clueValue)="onClueValue($event)"></app-hanabi-hand>

  <mat-card class="hanabi-player-infos">
    <span>{{ player.user.name }}&nbsp;</span>
    <app-player-waiting *ngIf="player.playing"></app-player-waiting>
  </mat-card>
</div>
