@use "styles/variables/games/hanabi";

.hanabi-player {
  display: flex;
  flex-direction: column;

  .hanabi-hand-container {
    display: flex;
    align-items: flex-end;
    height: hanabi.$card-height;
    padding: 0 10px;
  }
}
