<div class="hanabi-player">
  <app-hanabi-hand class="hanabi-hand-container"
                   [hand]="player.cards"
                   [visible]="!isSelf"
                   [canPlay]="canPlay"
                   (play)="onPlay($event)"
                   (discard)="onDiscard($event)"
                   (clueColor)="onClueColor($event)"
                   (clueValue)="onClueValue($event)"/>

  <app-player-bar [name]="player.user.name"
                  [playing]="player.playing"></app-player-bar>
</div>
