@use "styles/palettes";

$card-width: 76px;
$card-height: 220px;
$card-height-small: 180px;
$card-border-radius: 10px;
$card-shadow: -5px -5px 5px 0 rgba(0,0,0,.2);

$card-clue-height-visible: $card-height - $card-height-small;
$card-clue-height-trim: 20px;
$card-clue-height: $card-clue-height-visible + $card-clue-height-trim;

$marker-width: 26px;
$marker-height: 18px;
$marker-radius: 8px;

$red: palettes.$red;
$yellow: palettes.$yellow;
$green: palettes.$green;
$blue: palettes.$blue;
$purple: palettes.$purple;
