<form [formGroup]="formGroup">
  <h2 mat-dialog-title>Preferences</h2>
  <mat-dialog-content>
    <span class="content-description">You can use this panel to modify your preferences <mat-icon>favorite</mat-icon></span>
    <mat-checkbox [formControl]="formGroup.controls.showCritical">Show critical cards&nbsp;<app-tooltip-info [info]="'TODO'"></app-tooltip-info></mat-checkbox>
    <mat-checkbox [formControl]="formGroup.controls.markerCleaning">Enable marker cleaning (<mat-icon>bookmark_remove</mat-icon>)</mat-checkbox>
    <mat-checkbox [formControl]="formGroup.controls.markerSuggestions">Enable marker suggestions (&nbsp;<mat-icon>auto_fix_normal</mat-icon>)</mat-checkbox>

    Show critical cards

    Show redundant clued cards

    Enable marker suggestions
    Resolve marker suggestions separately
    Suggestions :
    - add marker with impossible clues
    - add marker with visible cards
    - add marker with the shrödinger principle
    - add trash marker for trash cards
    - remove incoherent markers

    Enable temporal markers (???)

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button
            (click)="onCancel()">Cancel</button>
    <button mat-raised-button
            [color]="formGroup.dirty ? 'primary' : ''"
            cdkFocusInitial
            [mat-dialog-close]="onSave()">Save</button>
  </mat-dialog-actions>
</form>
