.preferences-checkbox-list {
  display: flex;
  flex-direction: column;

  ::ng-deep mat-checkbox {
    &.preferences-checkbox {
      .mdc-form-field {
        .mdc-label {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}
