<form [formGroup]="formGroup">
  <h2 mat-dialog-title>Preferences</h2>

  <mat-dialog-content>

    <p>You can use this panel to modify your preferences</p>

    <div class="preferences-checkbox-list">
      <mat-checkbox class="preferences-checkbox" [formControl]="formGroup.controls.showCritical">
        Show critical cards&nbsp;
        <app-tooltip-info [info]="HanabiConstants.DESCRIPTION_CRITICAL_CARD"></app-tooltip-info>
      </mat-checkbox>
      <mat-checkbox class="preferences-checkbox" [formControl]="formGroup.controls.showTrash">
        Show trash cards&nbsp;
        <app-tooltip-info [info]="HanabiConstants.DESCRIPTION_TRASH_CARD"></app-tooltip-info>
      </mat-checkbox>
      <mat-checkbox class="preferences-checkbox" [formControl]="formGroup.controls.showMarkerWarnings">
        Show inconsistent markers&nbsp;
        <app-tooltip-info [info]="'Markers can be inconsistent when they are in contradiction with the card clues, with the vision or with the visible cards in the game.'"></app-tooltip-info>
      </mat-checkbox>
      <mat-checkbox class="preferences-checkbox" [formControl]="formGroup.controls.markerCleaning">
        Enable marker cleaning (<mat-icon>auto_fix_high</mat-icon>)
      </mat-checkbox>
    </div>

    <p></p>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-stroked-button
            mat-dialog-close>Cancel</button>
    <button mat-flat-button
            [mat-dialog-close]="onSave()"
            [disabled]="!formGroup.dirty">Save</button>
  </mat-dialog-actions>
</form>
