@use "styles/variables/hanabi";

mat-card {
  &.hanabi-marker {
    width: hanabi.$marker-width;
    height: hanabi.$marker-height;
    border-radius: hanabi.$marker-radius;
    cursor: pointer;
    font-size: small;
    line-height: 0;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    &.red {
      background-color: hanabi.$red;
    }
    &.yellow {
      background-color: hanabi.$yellow;
    }
    &.green {
      background-color: hanabi.$green;
    }
    &.blue {
      background-color: hanabi.$blue;
    }
    &.purple {
      background-color: hanabi.$purple;
    }
  }
}
