<div class="hanabi-history">
  <mat-icon matBadge="!"
            matBadgeColor="warn"
            matBadgeSize="small"
            [matBadgeHidden]="!isInHistory"
            matTooltip="You can't play while history mode is active"
            [matTooltipDisabled]="!isInHistory">history</mat-icon>
  <button mat-mini-fab color="primary"
          (click)="goBack()"
          matTooltip="Previous action"
          [disabled]="!canGoBack">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-mini-fab color="primary"
          (click)="goForward()"
          matTooltip="Next action"
          [disabled]="!isInHistory">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <button mat-mini-fab color="primary"
          (click)="cancel()"
          matTooltip="Return to game"
          [disabled]="!isInHistory">
    <mat-icon>keyboard_double_arrow_right</mat-icon>
  </button>
</div>
