<mat-progress-bar *ngIf="sending" color="warn" mode="indeterminate"></mat-progress-bar>
<div class="hanabi-container">

  <div class="hanabi" *ngIf="(history ?? game) as gameOrHistory">
    <div class="hanabi-left">
      <app-hanabi-board [board]="gameOrHistory.board"
                        [settings]="settings"></app-hanabi-board>
      <div class="hanabi-state">
        <app-hanabi-draw-pile [drawPile]="gameOrHistory.drawPile"></app-hanabi-draw-pile>
        <app-hanabi-state></app-hanabi-state>
      </div>
      <app-hanabi-discard-pile [discardPile]="gameOrHistory.discardPile"
                               [settings]="settings"></app-hanabi-discard-pile>
    </div>
    <div class="hanabi-right">
      <div class="hanabi-players">
        <app-hanabi-player *ngFor="let player of gameOrHistory.players"
                           [player]="player"
                           [isSelf]="player.equals(selfPlayer)"
                           [canPlay]="!history && selfPlayer.playing"
                           (command)="applyCommand($event)"></app-hanabi-player>
      </div>
      <div class="hanabi-infos">
        <mat-card>
          <mat-card-content class="hanabi-actions">
            <app-hanabi-history [game]="game" (onHistory)="onHistory($event)"></app-hanabi-history>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-icon>auto_fix_high</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-icon>auto_fix_high</mat-icon>
          </mat-card-content>
        </mat-card>
        <app-hanabi-infos></app-hanabi-infos>
      </div>
    </div>
  </div>

  <button mat-raised-button (click)="addCardToBoard()">Add card to board</button>
</div>
