.game-root {
  padding: 20px 20px 40px 20px;

  display: flex;
  gap: 40px;

  .hanabi-game {
    width: 100%;
  }
}

.bomb-exploded {
  animation: BombExploded 3s linear;
}

@keyframes BombExploded {
  0%, 100% {
    background-color: transparent;
  }

  25% {
    background-color: rgba(red, 0.35);
  }
}
