<div class="hanabi-hand">
  <app-hanabi-card *ngFor="let cardWithInfos of cardsWithInfos"
                   [card]="cardWithInfos.card"
                   [settings]="settings"
                   [infos]="cardWithInfos.infos"
                   [hint]="cardWithInfos.hint"
                   [visible]="visible"
                   [clickable]="true"
                   [small]="true"
                   [selected]="cardWithInfos.selected"
                   [showCritical]="preferences.showCritical && visible"
                   [showMarkers]="true"
                   [showMarkerWarnings]="preferences.showMarkerWarnings"
                   [showImpossibleClues]="assistant.showImpossibleClues"
                   (play)="onPlay($event)"
                   (discard)="onDiscard($event)"
                   (clueColor)="onClueColor($event)"
                   (clueValue)="onClueValue($event)"
                   (hintUpdate)="onHintUpdate($event)"
                   (selectedCardUpdate)="onSelectedCardUpdate($event)"/>
</div>
