@use "styles/functions/colors";
@use "styles/palettes-deprecated";

.hanabi-commands {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  margin: 5px;

  .mat-divider {
    border-width: 3px;
  }
}
