.hanabi-game {
  display: flex;
  justify-content: space-between;

  .hanabi-game-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;

    .hanabi-infos {
      display: flex;
      gap: 40px;
    }
  }

  .hanabi-game-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
