<div class="hanabi-game">
  <div class="hanabi-game-left">
    <app-hanabi-board [board]="game.board" [settings]="game.settings"></app-hanabi-board>
    <div class="hanabi-infos">
      <app-hanabi-draw-pile [drawPile]="game.drawPile"></app-hanabi-draw-pile>
      <app-hanabi-infos [game]="game"></app-hanabi-infos>
    </div>
    <app-hanabi-discard-pile [discardPile]="game.discardPile" [settings]="game.settings"></app-hanabi-discard-pile>
  </div>
  <div class="hanabi-game-right">
    <app-hanabi-player *ngFor="let player of orderedPlayers"
                       [player]="player"
                       [settings]="game.settings"
                       [preferences]="preferences"
                       [infos]="infos"
                       [assistant]="assistant"
                       [isSelf]="selfPlayer.equals(player)"
                       (command)="onCommand($event)"
                       (assistantUpdate)="onAssistantUpdate($event)"></app-hanabi-player>
  </div>
</div>
