<div class="hanabi-history">
  <mat-icon matBadge="!"
            matBadgeColor="warn"
            matBadgeSize="small"
            [matBadgeHidden]="!isInHistory"
            aria-hidden="false"
            matTooltip="You can't play while watching the history"
            [matTooltipDisabled]="!isInHistory">history</mat-icon>
  <button mat-mini-fab
          color="primary"
          (click)="goBackward()"
          matTooltip="Go backward"
          [disabled]="!canGoBack">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-mini-fab
          color="primary"
          (click)="goForward()"
          matTooltip="Go forward"
          [disabled]="!isInHistory">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <button mat-mini-fab
          color="primary"
          (click)="cancel()"
          matTooltip="Return to game"
          [disabled]="!isInHistory">
    <mat-icon>keyboard_double_arrow_right</mat-icon>
  </button>
</div>
