<mat-card>
  <mat-card-content class="hanabi-history">
    <mat-icon matBadge="!"
              matBadgeColor="warn"
              matBadgeSize="small"
              [matBadgeHidden]="!isInHistory"
              aria-hidden="false"
              matTooltip="You can't play while watching the history"
              [matTooltipDisabled]="!isInHistory">history</mat-icon>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="hanabi-history-actions">
      <button mat-mini-fab
              color="primary"
              (click)="goBackward()"
              matTooltip="Go backward"
              [disabled]="!canGoBack">
        <mat-icon>arrow_left</mat-icon>
      </button>
      <button mat-mini-fab
              color="primary"
              (click)="goForward()"
              matTooltip="Go forward"
              [disabled]="!isInHistory">
        <mat-icon>arrow_right</mat-icon>
      </button>
      <button mat-mini-fab
              color="primary"
              (click)="cancel()"
              matTooltip="Return to game"
              [disabled]="!isInHistory">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
