<mat-card class="hanabi-command" [class.active]="active" *ngIf="command">
  <mat-card-content>
    <ng-container [ngSwitch]="command.type">

      <ng-container *ngSwitchCase="Type.PLAY">
        <app-hanabi-command-play [command]="commandPlay"></app-hanabi-command-play>
      </ng-container>

      <ng-container *ngSwitchCase="Type.DISCARD">
        <app-hanabi-command-discard [command]="commandDiscard"></app-hanabi-command-discard>
      </ng-container>

      <ng-container *ngSwitchCase="Type.CLUE_COLOR">
        <app-hanabi-command-clue-color [command]="commandClueColor"></app-hanabi-command-clue-color>
      </ng-container>

      <ng-container *ngSwitchCase="Type.CLUE_VALUE">
        <app-hanabi-command-clue-value [command]="commandClueValue"></app-hanabi-command-clue-value>
      </ng-container>

    </ng-container>
  </mat-card-content>
</mat-card>
