<mat-card>
  <mat-card-content class="hanabi-actions">
    <button mat-icon-button
            color=""
            (mousedown)="showImpossibleClues()"
            (mouseup)="hideImpossibleClues()"
            (mouseleave)="hideImpossibleClues()">
      <mat-icon>{{ assistant.showImpossibleClues ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>
    <mat-divider [vertical]="true"/>
    <button mat-icon-button
            color=""
            [disabled]="true">
      <mat-icon>auto_fix_off</mat-icon>
    </button>
    <mat-divider [vertical]="true"/>
    <button mat-icon-button
            color=""
            [disabled]="true">
      <mat-icon>question_mark</mat-icon>
    </button>
    <mat-divider [vertical]="true"/>
    <button mat-icon-button
            color=""
            (click)="onPreferences()">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
