$white: #ffffff;
$grey: #7f7f7f;
$brown: #aa755f;
$orange: #d87620;
$yellow: #ca8e1b;
$green: #2d9964;
$cyan: #37abc8;
$blue: #2e7cd1;
$purple: #8d5bc1;
$pink: #c94079;
$red: #cd4945;
$black: #000000;



$tertiary: (
  0: #000000,
  10: #1C1D00,
  20: #313301,
  25: #3C3E0B,
  30: #484916,
  35: #545520,
  40: #60612B,
  50: #797A41,
  60: #939458,
  70: #AEAF70,
  80: #C9CA89,
  90: #E6E6A3,
  95: #F4F5B0,
  98: #FDFEB8,
  99: #FFFBFF,
  100: #FFFFFF,
  secondary: (
    0: #000000,
    10: #1C1D00,
    20: #313301,
    25: #3C3E0B,
    30: #484916,
    35: #545520,
    40: #60612B,
    50: #797A41,
    60: #939458,
    70: #AEAF70,
    80: #C9CA89,
    90: #E6E6A3,
    95: #F4F5B0,
    98: #FDFEB8,
    99: #FFFBFF,
    100: #FFFFFF,
  ),
  neutral: (
    0: #000000,
    10: #1C1D00,
    20: #313301,
    25: #3C3E0B,
    30: #484916,
    35: #545520,
    40: #60612B,
    50: #797A41,
    60: #939458,
    70: #AEAF70,
    80: #C9CA89,
    90: #E6E6A3,
    95: #F4F5B0,
    98: #FDFEB8,
    99: #FFFBFF,
    100: #FFFFFF,
  ),
  neutral-variant: (
    0: #000000,
    10: #1C1D00,
    20: #313301,
    25: #3C3E0B,
    30: #484916,
    35: #545520,
    40: #60612B,
    50: #797A41,
    60: #939458,
    70: #AEAF70,
    80: #C9CA89,
    90: #E6E6A3,
    95: #F4F5B0,
    98: #FDFEB8,
    99: #FFFBFF,
    100: #FFFFFF,
  ),
  error: (
    0: #000000,
    10: #1C1D00,
    20: #313301,
    25: #3C3E0B,
    30: #484916,
    35: #545520,
    40: #60612B,
    50: #797A41,
    60: #939458,
    70: #AEAF70,
    80: #C9CA89,
    90: #E6E6A3,
    95: #F4F5B0,
    98: #FDFEB8,
    99: #FFFBFF,
    100: #FFFFFF,
  ),
);
