.hanabi-indicators {
  display: flex;
  justify-content: space-around;

  .hanabi-indicators-column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .item {
      height: 20px;

      display: flex;
      gap: 5px;
    }
  }
}
