<div class="hanabi-card" [class.clickable]="canPlay">

  <app-hanabi-clue *ngIf="inHand"
                   [valueClue]="card.valueClue"
                   [colorClue]="card.colorClue"></app-hanabi-clue>

  <mat-card class="hanabi-card-container"
            [class.in-hand]="inHand"
            [class.no-shadow]="noShadow"
            [matMenuTriggerFor]="canPlay ? (visible ? clueMenu : playMenu) : null">
    <mat-card-content *ngIf="!visible"
                      class="not-visible">
      <mat-icon class="hanabi-card-icon">auto_awesome</mat-icon>
    </mat-card-content>
    <mat-card-content *ngIf="visible"
                      class="hanabi-card-content"
                      [class]="card.color">
      <span class="hanabi-card-value"><b>{{ card.value }}</b></span>
      <mat-icon class="hanabi-card-icon">auto_awesome</mat-icon>
    </mat-card-content>
  </mat-card>
</div>

<mat-menu #playMenu yPosition="above">
  <button mat-menu-item (click)="onPlay()"> <b>PLAY</b> card</button>
  <button mat-menu-item (click)="onClueValue()"> <b>DISCARD</b> card</button>
</mat-menu>

<mat-menu #clueMenu yPosition="above">
  <button mat-menu-item (click)="onClueColor()">Clue <b [class]="card.color">{{ card.color | uppercase }}</b></button>
  <button mat-menu-item (click)="onClueValue()">Clue <b>{{ card.value | hanabiNumber }}</b></button>
</mat-menu>
