<div id="card-{{card.id}}" class="hanabi-card-container" [ngClass]="classes"
     (mouseenter)="markerButtonVisible = true" (mouseleave)="markerButtonVisible = false">
  <div class="hanabi-card">

    <app-hanabi-clue *ngIf="!noClues"
                     [cardId]="card.id"
                     [valueClue]="card.valueClue"
                     [colorClue]="card.colorClue"/>

    <mat-card class="hanabi-card-content-container color-variant"
              [matMenuTriggerFor]="clickable ? (visible ? clueMenu : playMenu) : null">

      <mat-card-content *ngIf="!visible"
                        class="hanabi-card-content-invisible">
        <img *ngIf="!showImpossibleClues"
             [ngSrc]="'assets/images/hanabi/fireworks-background.png'" alt="" height="240" width="240">
      </mat-card-content>

      <mat-card-content *ngIf="visible"
                        class="hanabi-card-content"
                        [class]="visible ? card.color : ''">
        <span class="hanabi-card-value">{{ card.value }}</span>
        <img *ngIf="!showImpossibleClues"
             [ngSrc]="'assets/images/hanabi/fireworks-' + card.value + '-' + card.color + '.png'" alt="" height="210" width="210">
      </mat-card-content>
    </mat-card>

    <app-hanabi-markers *ngIf="showMarkers"
                        [markers]="hint.markers"
                        [buttonVisible]="markerButtonVisible"
                        (markersUpdate)="onMarkersUpdate($event)"
                        (selectedCardUpdate)="onSelectedCardUpdate()"></app-hanabi-markers>

    <app-hanabi-critical *ngIf="showCritical"
                         [isCritical]="isCritical"></app-hanabi-critical>

    <app-hanabi-impossible-clues *ngIf="showImpossibleClues"
                                 [card]="card"
                                 [settings]="settings"></app-hanabi-impossible-clues>

  </div>
</div>



<mat-menu #playMenu yPosition="above">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="onPlay()"> <b>PLAY</b> card</button>
    <button mat-menu-item (click)="onDiscard()"> <b>DISCARD</b> card</button>
  </ng-template>
</mat-menu>
<mat-menu #clueMenu yPosition="above">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="onClueColor()">Clue <b [class]="card.color">{{ card.color | uppercase }}</b></button>
    <button mat-menu-item (click)="onClueValue()">Clue <b>{{ card.value | hanabiNumber }}</b></button>
  </ng-template>
</mat-menu>
