@use "styles/variables/hanabi";

.hanabi-card-container {
  z-index: 1;
  position: relative;

  .hanabi-card {
    display: flex;
    flex-direction: column;
    user-select: none;
    transition: transform 250ms ease-out;

    app-hanabi-clue {
      transform: translateY(hanabi.$card-clue-height);
    }

    .hanabi-card-content-container {
      width: hanabi.$card-width;
      height: hanabi.$card-height;
      box-shadow: hanabi.$card-shadow;
      border-radius: hanabi.$card-border-radius;

      .hanabi-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        overflow: hidden;

        .hanabi-card-value {
          font-family: "Satisfy", cursive;
          font-size: 6em;
          line-height: 1;
        }

        img {
          position: relative;
          top: -45px;
        }
      }

      .hanabi-card-content-invisible {
        overflow: hidden;

        img {
          position: relative;
          top: -45px;
          left: -75px;
        }
      }
    }

    app-hanabi-markers {
      position: absolute;
      top: 72px;
      left: -4px;
    }

    app-hanabi-critical {
      position: absolute;
      top: 62px;
      left: 59px;
    }

    app-hanabi-impossible-clues {
      width: 100%;
      position: absolute;
      top: 165px
    }
  }
}


// ANIMATION
.start-animation {
  transition:
    top 500ms ease-in-out,
    left 500ms ease-in-out,
    opacity 500ms ease-in-out;
}


// VARIANTS
.hide {
  &.hanabi-card-container {
    .hanabi-card {
      opacity: 0;
    }
  }
}

.clickable {
  &.hanabi-card-container {
    .hanabi-card:hover {
      cursor: pointer;
      transform: translate(0px, -10px);
    }
  }
}

.small {
  &.hanabi-card-container {
    .hanabi-card {
      .hanabi-card-content-container {
        height: hanabi.$card-height-small;
      }
    }
  }
}

.selected {
  &.hanabi-card-container {
    .hanabi-card {
      .hanabi-card-content-container {
        border: solid 2px;
      }
    }
  }
}

.faded {
  &.hanabi-card-container {
    opacity: 0;
  }
}

.no-shadow {
  &.hanabi-card-container {
    .hanabi-card {
      .hanabi-card-content-container {
        box-shadow: none;
      }
    }
  }
}


// COLORS
.red {
  color: hanabi.$red;
}
.yellow {
  color: hanabi.$yellow;
}
.green {
  color: hanabi.$green;
}
.blue {
  color: hanabi.$blue;
}
.purple {
  color: hanabi.$purple;
}
