<div class="signup-container">
  <section>
    <h1 class="signup-title">Create a Fireworks account !</h1>
    <p class="signup-description">A place to play unpublished and original card games !</p>
  </section>

  <form [formGroup]="formGroup">
    <section class="signup-section">
      <div class="signup-card-container">
        <mat-card>
          <mat-card-header><mat-card-title>Sign up</mat-card-title></mat-card-header>
          <mat-card-content class="signup-card">
            <div class="signup-card-content">
              <div class="signup-card-content-column">
                <p>Create an account from your email address :</p>
                <mat-form-field appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput
                         [formControl]="formGroup.controls.username"
                         (blur)="updateUsernameError()">
                  <mat-icon matSuffix>person</mat-icon>
                  <mat-error> {{ usernameError }} </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput
                         [formControl]="formGroup.controls.email"
                         (blur)="updateEmailError()">
                  <mat-icon matSuffix>alternate_email</mat-icon>
                  <mat-error> {{ emailError }} </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput
                         type="password"
                         [formControl]="formGroup.controls.password"
                         (blur)="updatePasswordError()">
                  <mat-icon matSuffix>key</mat-icon>
                  <mat-error> {{ passwordError }} </mat-error>
                </mat-form-field>
                <button class="signup-card-action"
                        mat-flat-button
                        (click)="onSignup()">Start to play right now !</button>
                <mat-error *ngIf="authError"> {{ authError }} </mat-error>
              </div>
              <mat-divider [vertical]="true"></mat-divider>
              <div class="signup-card-content-column">
                <p>OR, create an account with :</p>
                <button class="signup-card-action"
                        mat-stroked-button
                        (click)="onSignupWithGoogle()">Google</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="signup-img">
        <img [ngSrc]="'assets/images/svg/rocket-signup.svg'" alt="" width="750" height="750" priority>
      </div>
    </section>
  </form>

</div>
