@use "styles";
@use "styles/functions/colors";

.hanabi-critical {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  color: white;
  background-color: colors.from-palette(styles.$warn);
  font-size: x-small;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}
