@use "styles/functions/colors";
@use "styles/palettes-deprecated";
@use "styles/variables/hanabi";

.hanabi-drawpile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  cursor: default;
  position: relative;

  .hanabi-drawpile-card {
    position: absolute;
  }

  .placeholder {
    width: hanabi.$card-width;
    height: hanabi.$card-height;
    box-shadow: hanabi.$card-shadow;
    border-radius: hanabi.$card-border-radius;
    z-index: -1;
  }

  .hanabi-drawpile-size {
    color: colors.from-palette(palettes-deprecated.$grey, 300);
    font-size: xxx-large;
    z-index: 2;
    transform: translateY(-60px);
    height: 0;
  }

}
