@use "styles/variables/hanabi";

.hanabi-discardpile-card {
  position: absolute;
}

.hanabi-discardpile {
  display: flex;
  gap: 20px;
  cursor: default;

  .hanabi-discardpile-column {
    display: flex;
    flex-direction: column;

    .hanabi-discardpile-item {
      display: flex;
      gap: 10px;
      min-height: 30px;
      font-size: x-large;
    }
  }
}

.red {
  color: hanabi.$red;
}
.yellow {
  color: hanabi.$yellow;
}
.green {
  color: hanabi.$green;
}
.blue {
  color: hanabi.$blue;
}
.purple {
  color: hanabi.$purple;
}
