<app-hanabi-card *ngFor="let card of discardPile"
                 class="hanabi-discardpile-card"
                 [card]="card"
                 [faded]="true"
                 [noClues]="true"/>

<mat-card>
  <mat-card-content class="hanabi-discardpile">
    <div *ngFor="let _ of [].constructor(settings.maxValue); let value=index" class="hanabi-discardpile-column">
      <div *ngFor="let color of settings.colors" class="hanabi-discardpile-item">
        <span *ngFor="let _ of [].constructor(calculatedDiscardPile.get(color)?.get(value+1) ?? 0)" [ngClass]="color">
          <b>{{ value+1 }}</b>
        </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
