@use "styles/variables/games/hanabi";

.hanabi-marker-chip {
  min-width: 43px;
  max-width: 58px;

  &.red {
    background-color: rgba(hanabi.$red, 0.25);
  }
  &.yellow {
    background-color: rgba(hanabi.$yellow, 0.25);
  }
  &.green {
    background-color: rgba(hanabi.$green, 0.25);
  }
  &.blue {
    background-color: rgba(hanabi.$blue, 0.25);
  }
  &.purple {
    background-color: rgba(hanabi.$purple, 0.25);
  }

  &.mat-mdc-standard-chip.mdc-evolution-chip--selected {
    &.red {
      background-color: hanabi.$red;
    }
    &.yellow {
      background-color: hanabi.$yellow;
    }
    &.green {
      background-color: hanabi.$green;
    }
    &.blue {
      background-color: hanabi.$blue;
    }
    &.purple {
      background-color: hanabi.$purple;
    }
  }
}
