@use "styles/variables/hanabi";
@use "styles/functions/colors";
@use "styles/palettes";

.hanabi-board-card {
  border: 5px solid;
  border-radius: 15px;
  box-shadow: hanabi.$card-shadow;

  &.red {
    color: hanabi.$red;
    border-color: hanabi.$red;
  }
  &.yellow {
    color: hanabi.$yellow;
    border-color: hanabi.$yellow;
  }
  &.green {
    color: hanabi.$green;
    border-color: hanabi.$green;
  }
  &.blue {
    color: hanabi.$blue;
    border-color: hanabi.$blue;
  }
  &.purple {
    color: hanabi.$purple;
    border-color: hanabi.$purple;
  }

  .placeholder {
    width: hanabi.$card-width;
    height: hanabi.$card-height;

    &.red {
      background-color: hanabi.$red;
      opacity: 20%;
    }
    &.yellow {
      background-color: hanabi.$yellow;
      opacity: 20%;
    }
    &.green {
      background-color: hanabi.$green;
      opacity: 20%;
    }
    &.blue {
      background-color: hanabi.$blue;
      opacity: 20%;
    }
    &.purple {
      background-color: hanabi.$purple;
      opacity: 20%;
    }
  }
}

