<div [ngSwitch]="state" class="hanabi-state">
  <app-hanabi-state-finished *ngSwitchCase="HanabiState.FINISHED" [game]="game" [infos]="infos"></app-hanabi-state-finished>
  <app-hanabi-state-in-history *ngSwitchCase="HanabiState.IN_HISTORY"></app-hanabi-state-in-history>
  <app-hanabi-state-other-turn *ngSwitchCase="HanabiState.OTHER_TURN" [game]="game"></app-hanabi-state-other-turn>
  <app-hanabi-state-self-turn *ngSwitchCase="HanabiState.SELF_TURN" [game]="game"></app-hanabi-state-self-turn>
</div>
