<h2 mat-dialog-title>End of game: {{ title }}</h2>

<mat-dialog-content>
  <table mat-table [dataSource]="scores">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Players </th>
      <td mat-cell *matCellDef="let element"> {{ element.rank === 1 ? '👑' : '' }} {{ element.user.name}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let element"
          [class]="element.user.equals(selfPlayer.user) ? selfTrend : ''">
        {{element.score}}/{{maxScore}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button
          mat-dialog-close
          cdkFocusInitial>Close</button>
</mat-dialog-actions>
