@use "styles/variables/games/hanabi";

.hanabi-marker-button {
  width: 10px;
  height: hanabi.$marker-height;
  border-radius: hanabi.$marker-radius;
  cursor: pointer;

  &:hover {
    width: hanabi.$marker-width;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}
