<div class="hanabi-state">
  <span>Turn: {{game.turn}}</span>

  <span>Score: {{game.board.size}}/25</span>

  <div class="hanabi-state-clues"
       matTooltip="{{game.clues}} clues left"
       matTooltipPosition="right">
    <div *ngFor="let i of Array.from(Array(8).keys())"
         class="hanabi-state-clues-item"
         [class.not-visible]="game.clues <= i">
      <mat-icon>wb_sunny</mat-icon>
    </div>
  </div>

  <div class="hanabi-state-bombs"
       matTooltip="{{game.bombs}} bombs exploded"
       matTooltipPosition="right">
    <div *ngFor="let i of Array.from(Array(3).keys())"
         class="hanabi-state-bombs-item"
         [class.exploded]="game.bombs > i">
      💥
    </div>
  </div>

</div>
