@use "@angular/material";
@use "styles/palettes";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// THEMING
@include material.core();

$my-primary: material.define-palette(palettes.$brown);
$my-warn: material.define-palette(palettes.$deep-orange);

$dark-theme: material.define-dark-theme((
  color: (
    primary: material.define-palette(palettes.$brown),
    accent: material.define-palette(palettes.$amber),
    warn: material.define-palette(palettes.$deep-orange),
  ),
  typography: material.define-typography-config(),
  density: 0,
));

$light-theme: material.define-light-theme((
  color: (
    primary: material.define-palette(palettes.$brown),
    accent: material.define-palette(palettes.$amber),
    warn: material.define-palette(palettes.$deep-orange),
  )
));

@include material.core-theme($dark-theme);
@include material.all-component-themes($dark-theme);

.light-theme {
  @include material.core-color($light-theme);
  @include material.all-component-colors($light-theme);
}
