@use "@angular/material";
@use "styles/palettes";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// THEMING
$my-primary: material.define-palette(palettes.$brown);
$my-accent: material.define-palette(palettes.$green);
$my-warn: material.define-palette(palettes.$deep-orange);

$my-theme: material.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  density: 0,
));

@include material.all-component-themes($my-theme);



// ANIMATIONS
.start-animation {
  position: absolute;
  z-index: 1;
  transition:
    top 800ms ease-in-out,
    left 800ms ease-in-out;
}
